<p>{{test1 | uppercase}}</p>
<p>{{test2 | lowercase }}</p>
<p>{{test3 | titlecase}}</p>
<p>{{test4 | number}}</p>
<p>{{test5 | number: '1.0-0'}}</p>
<p>{{test6 | number: '1.2-2'}}</p>
<p>{{test7 | json}}</p>
<p>{{test8 | percent}}</p>
<p>{{test9 | percent:'2.2-5'}}</p>
<p>{{test10 | currency:'CAD' }}</p>
<p>{{test11 | currency:'USD':'symbol-narrow' }}</p>
<p>{{test12 | currency: 'EUR' }}</p>
<p>{{test13 | slice:0:10 }}...</p>
<p>{{test14 | date }}</p>
<p>{{test15 | date : 'dd/MM/yyyy' }}</p>
<p>{{test16 | demoPipe }}</p>

